<div class="grid__column grid__column--3 post__form">
  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |error| %>
        <%= js add_gritter(error, title: "", sticky: false) %>
      <% end %>
    <% end %>
    <div class="space__between--bottom">
      <label class="post__label">Date</label>
      <%= f.date_field :date %>
    </div>
    
    <div class="space__minor--bottom">
      <label class="post__label">Rationale</label>
      <%= f.text_area :rationale %>
    </div>

    <div class="space__minor--bottom">
      <%= f.radio_button :status, 'submitted' %>
      <%= f.label :status, 'Submitted' %>
      
      <%= f.radio_button :status, 'approved'%>
      <%= f.label :status, 'Approved'%>

      <%= f.radio_button :status, 'rejected'%>
      <%= f.label :status, 'Rejected'%>
    </div>
    <%= f.submit 'Save', class: "button button__block button__success" %>
  <% end %>
</div>