<div class="grid__column grid__column--3 post__form">
  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |error| %>
        <%= js add_gritter(error, title: "", sticky: false) %>
      <% end %>
    <% end %>
    <div class="space__between--bottom">
      <label class="post__label">Date</label>
      <%= f.date_field :date %>
    </div>
    
    <div class="space__minor--bottom">
      <label class="post__label">Rationale</label>
      <%= f.text_area :rationale %>
    </div>

    <%= render partial: 'status', locals: { f: f } if current_user.try(:type) == 'AdminUser' %>
    <%= f.submit 'Save', class: "button button__block button__success" %>
  <% end %>
</div>